/*----------------------------------------
 * Global
 *----------------------------------------*/
*,
html,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $primaryFont;
}
